@media print {
    * { 
        -webkit-print-color-adjust: exact !important; 
    }
    #timetable {
        -webkit-print-color-adjust: exact !important; 
    }
    thead > td {
        background-color: #4e73df !important;
        -webkit-print-color-adjust: exact !important;  
    }
    
}

@media (prefers-reduced-motion: none) {
    * {
        scroll-behavior: smooth;
    }
}

.nav-item .collapse-item:hover {
    color:#4e73df !important;
}

.nav-item .nav-link[data-bs-toggle=collapse]::after{
    width: 1rem !important;
    text-align:center !important;
    float:right !important;
    vertical-align:0 !important;
    border:0 !important;
    float: right !important;
    content:'\f107' !important;
    font-family: FontAwesome !important;
}

.nav-item .nav-link[data-bs-toggle=collapse].collapsed::after {
    content:'\f105' !important;
    font-family: FontAwesome !important;
}

.sidebar.toggled .nav-item .nav-link[data-bs-toggle=collapse]::after {
    display:none !important;
}

